<div class="card">
<app-logout></app-logout>
  <p>
  <p-button type="button" label="Clear All Filters" icon="pi pi-filter-slash" (click)="clearFilters()"></p-button>
  </p>
  <p-table #table [value]="responses" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [tableStyle]="{'min-width': '70rem'}"
    [rowsPerPageOptions]="[10, 25, 50]" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['Tree_ID', 'Cmn_Name', 'Sci_Name', 'Height', 'Condition']" [loading]="loading">
    <ng-template pTemplate="header">
      <tr>
        <th >
          <div class="sorter-header">Tree ID
            <p-sortIcon pSortableColumn="Tree_ID" field="Tree_ID"></p-sortIcon>
          </div>
          <p-columnFilter type="text" field="Tree_ID" matchMode="equals"></p-columnFilter>
        </th>
        <th >
          <div class="sorter-header">
            Common Name
            <p-sortIcon pSortableColumn="Cmn_Name" field="Cmn_Name"></p-sortIcon>
          </div>
          <p-columnFilter type="text" field="Cmn_Name" matchMode="contains"></p-columnFilter>
        </th>
        <th >
          <div class="sorter-header">
            Scientific Name
            <p-sortIcon pSortableColumn="Sci_Name" field="Sci_Name"></p-sortIcon>
          </div>
          <p-columnFilter type="text" field="Sci_Name" matchMode="contains"></p-columnFilter>
        </th>
        <th >
          <div class="sorter-header">
            Height
            <p-sortIcon pSortableColumn="Height" field="Height"></p-sortIcon>
          </div>
          <p-columnFilter type="text" field="Height" matchMode="equals"></p-columnFilter>
        </th>
        <th >
          <div class="sorter-header">
            Condition
            <p-sortIcon pSortableColumn="Condition" field="Condition"></p-sortIcon>
          </div>
          <p-columnFilter type="text" field="Condition" matchMode="contains"></p-columnFilter>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-tree>
      <tr>
        <td>{{ tree.Tree_ID }}</td>
        <td>{{ tree.Cmn_Name }}</td>
        <td>{{ tree.Sci_Name }}</td>
        <td>{{ tree.Height }}</td>
        <td>{{ tree.Condition }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>