<div class="card">
  <app-logout></app-logout>
  <p-table [value]="users">
    <ng-template pTemplate="header">
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role.name }}</td>
        <td>
          <button pButton type="button" icon="pi pi-pen-to-square" (click)="showEditUserDialog(user)"></button>
          <button pButton type="button" icon="pi pi-trash" (click)="deleteUser(user.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  
  <p-dialog header="Kullanıcı Güncelle" [(visible)]="displayEditDialog" [modal]="true" [style]="{width: '50vw'}">
    <form #userForm="ngForm">
        <div class="p-fluid">
            <div class="p-field">
                <label for="username">Kullanıcı Adı</label>
                <input type="text" id="username" [(ngModel)]="selectedUser.username" name="username" required pInputText>
            </div>
            <div class="p-field">
                <label for="email">Email</label>
                <input type="email" id="email" [(ngModel)]="selectedUser.email" name="email" required pInputText>
            </div>
            <div class="p-field">
                <label for="role">Rol</label>
                <p-dropdown [options]="roles" [(ngModel)]="selectedUser.role" optionLabel="name" name="role"></p-dropdown>
            </div>
        </div>
        <p-footer>
            <p-button type="button" pButton label="İptal" icon="pi pi-times" (click)="displayEditDialog=false"></p-button>
            <p-button type="button" pButton label="Kaydet" icon="pi pi-check" (click)="updateUser(selectedUser.id)" [disabled]="!userForm.valid"></p-button>
        </p-footer>
    </form>
</p-dialog>

</div>
